{{ form_start(competenceForm) }}
        {{ form_widget(competenceForm) }}
        <a href="/competence">Retour</a>
        {% if editer %}
                <input type="submit" value="editer"></input>
        {% else %}
                <input type="submit" value="ajouter"></input>
        {% endif %}
{{ form_end(competenceForm) }} 