{{ form_start(personnageForm) }}
        {{ form_widget(personnageForm) }}
        <a href="/personnage">Retour</a>
        {% if editer %}
                <input type="submit" value="editer"></input>
        {% else %}
                <input type="submit" value="ajouter"></input>
        {% endif %}
{{ form_end(personnageForm) }} 